{% extends 'cal/base.html' %}

{% block content %}

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Календарь </a>
        <form action="" method="post">{% csrf_token %}
            <p class="cal">Удалить мероприятие?</p>
            <h4 class="del_yes">
                <button type="submit" class="btn btn-danger left">Да</button>
                <a class="btn btn-info right" href="{% url 'cal:event_edit' event.id %}">Нет</a>
            </h4>
        </form>
    </div>
{% endblock content %}

<form method="post">
    {% csrf_token %}
    <table class="form form-table">
        {{ form }}
        <tr>
            <td colspan="2">
                {% if event_del.id %}
                    <a class="btn btn-danger right" href="{% url 'cal:user_detail' user.id %}">Удалить</a>
                {% endif %}
            </td>
        </tr>
    </table>
</form>
