{% extends 'cal/base.html' %}

{% block content %}
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Календарь </a>
        <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> + Добавить мероприятие </a>
        <a class="btn btn-info right" href="{% url 'cal:add_user' %}"> + Добавить пользователя </a>
    </div>
    <h5 class="clearfix"> Всего пользователей: {{ users_with_event_count|length }} <br> Всего мероприятий: {{ total_event_count }}</h5>

    {% for letter in "АБВГДЕЖЗИКЛМНОПРСТУФХЦЧШЩЭЮЯ" %}
        <h6 class="clearfix">
            <strong>{{ letter }}</strong>
            {% for user in users_with_event_count|dictsort:"name" %}
                {% if user.name.0|upper == letter %}
                    <a class="btn-info btn_user" href="{% url 'cal:user_detail' user.id %}">
                        {{ user.name }} <br>
                        - всего мероприятий: {{ user.event_count }} шт. <br>
                    </a>
                {% endif %}
            {% endfor %}
        </h6>
    {% endfor %}
{% endblock %}
