{% extends 'cal/base.html' %}

{% block content %}

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Календарь </a>
        <a class="btn btn-info right" href="{% url 'cal:event_new' %}"> + Добавить мероприятие </a>
        <a class="btn btn-info right" href="{% url 'cal:add_user' %}"> + Добавить пользователя </a>
        <a class="btn btn-info right" href="{% url 'cal:user_list' %}"> Список пользователей </a>
        <a class="btn btn-danger right" href="{% url 'cal:user_delete' user.id %}">Удалить пользователя</a>
    </div>

    <h5 class="clearfix left">
        {{ user }} <br>
        {% for i in all_event %}
            <a href="{% url 'cal:event_edit' i.id %}">
                <div class="btn_res btn-light">
                    <h5>{{ i.title }}</h5>
                    <h6>
                        Описание: {{ i.description|slice:"180"|safe}} {% if i.description|length > 180 %}...{% endif %} <br>
                        <p class="sm">
                            Время начала: {{ i.start_time }} <br>
                            Время окончания: {{ i.end_time }} <br>
                        </p>
                    </h6>
                </div>
            </a>
        {% endfor %}
    </h5>

{% endblock %}
